body,html{height:100%}body{display:-ms-flexbox;display:flex;-ms-flex-align:center;-ms-flex-pack:center;align-items:center;justify-content:center;padding-top:40px;padding-bottom:40px;background-color:#f5f5f5}.form-signin{width:100%;max-width:330px;padding:15px;margin:0 auto}.form-signin .form-control{position:relative;-webkit-box-sizing:border-box;box-sizing:border-box;height:auto;padding:10px;font-size:16px;margin-bottom:5px}.form-signin .form-control:focus{z-index:2}body{padding-top:70px}
/*# sourceMappingURL=main.742f99f4.css.map*/